{% load static %}

  .czcionka{font-family:impact; font-size: 20pt; color:#000000;}
  .czcionka_inna{font-family:impact; font-size: 20pt; color:#000000;}

  body, html{cursor:url("../cur/cursor1.cur"), auto;
  height: 100%;
  width: 100%;

  SCROLLBAR-FACE-COLOR:#698197;
  SCROLLBAR-HIGHLIGHT-COLOR:#698197;
  SCROLLBAR-SHADOW-COLOR:#F0F4F7;
  SCROLLBAR-3DLIGHT-COLOR:#F0F4F7;
  SCROLLBAR-ARROW-COLOR:#F0F4F7;
  SCROLLBAR-TRACK-COLOR:#C3CCD5;
  SCROLLBAR-DARKSHADOW-COLOR:#698197;}

  .bg{
  background-image:url("../img/slodzi.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;}

  A:link {cursor:url("../cur/cursor2.cur"), pointer;}
  A:visited {cursor:url("../cur/cursor2.cur"), pointer;}
  A:active {cursor:url("../cur/cursor2.cur"), pointer;}
  A:hover {cursor:url("../cur/cursor2.cur"), pointer;}

  body
  {
  	background-color: #404040;
  	font-family: 'Lato', sans-serif;
  }

  #kontener
  {
  	width: 1000px;
  	margin-left: auto;
  	margin-right: auto;
  }

  #naglowek
  {
    text-align: center;
  	color: white;
  	margin-top: 20px;
  	margin-bottom: 20px;
  	font-size: 44px;
  	letter-spacing: 3px;
  	font-weight: 900;

  }

  #witaj
  {

  	float: left;
  	height: 200px;
    padding: 6px;
  	background-color: lightgray;
  	text-align: center;
  	font-size: 18px;
  	border-right: 2px dotted #666666;
    width:486px;
      text-align: center;
  }

  #autorzy
  {

  	float: left;
    padding: 6px;
  	height: 200px;
  	background-color: lightgray;
  	text-align: center;
  	font-size: 18px;
  	border-right: 2px dotted #666666;
    width:486px;
    text-align: center;
  }

  #generator
  {
    clear:both;
  	background-color: #128870;
  	color: white;
  	padding: 10px;
  	height: 150px;
    text-align: center;
  }


  #miejsce
  {
  	padding: 10px;
  	background-color: #dedede;
  	height: 400px;
  	text-align: center;
  }

  #stopka
  {
  	clear: both;
  	color: white;
  	text-align: center;
  	padding: 20px;
  	font-size: 18px;
    text-align: center;
  }

h1 {margin-top:150px;
  font-size:30px;}
